<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  We hope to make this as simple to use as possible.  But, if you find
yourself confused, please send us an e-mail to let us know how to
improve your experience.
</p>
<h2>Create User</h2>
<p>
  To make your free account, please sign-up, from there you will see
that you can select foods and add them to your ongoing tally of foods
that you are eating.  Our program will track your total calories, 
your calories from carbohydrates, and your sugar amounts.  You can
set goals for those levels and evaluate how you are doing.
</p>
<h2>Editing your User account</h2>
<p>
  You have the freedom to set your daily, monthly, and yearly goals
for carbohydrates and sugars.  This will then enable us to report
how you are doing on each of your goals.  You can update these values
in your User account.
</p>
<h2>Checking out Foods</h2>
<p>
  We keep a growing database of foods, with the total caloric, carbohydrate
and sugar values. For some foods we have the breakdown of frustose versus
glucose.  Please add to our database if you've new values to add.  Please
be aware that we've set the system to automatically e-mail us if you add
a value, so that we can evaluate changes, so your source references for
any updates are really important to keeping the database accurate and up
to date.  We reserve the right to block any user that abuses this ability
to add data to our database.  We encourage all of you to be responsible
users of the shared data.
</p>
<h2>Tracking your Progress</h2>
<p>
  You have the ability to generate graphs of your daily, monthly, and
yearly progress. This makes it easy to see how you are doing.  You can
check at any moment for where your worst offenders or your best
choices have been make and thus make wiser decisions over the span of
moments, to days, to weeks, to months or even over years.  This ability
to see your data will only get richer as you continue to add your
food intakes and to help with growing the database of values.
</p>

