<% provide(:title, 'Taubes') %>
<h1>Taubes books</h1>
<p>
  Read one of the books that Taubes has written 
  <a href="http://www.amazon.com/Why-We-Get-Fat-About/dp/0307474259/ref=sr_1_1?s=books&ie=UTF8&qid=1410610720&sr=1-1&keywords=why+do+we+get+fat">Amazon</a>.
</p>
