<h1>
  <%= current_user.name %>
</h1>
<span>
  Your sugar over the last day:
  <%= current_user.eats.where({ created_at: (Time.now.midnight - 1.day)..Time.now.midnight }).sum (:sugar) %>
</span>
<span>
  and in Carbohydrates:
  <%= current_user.eats.where({ created_at: (Time.now.midnight - 1.day)..Time.now.midnight }).sum (:carbohydrate) %>
</span>
<span>
  with your total Calories:
  <%= current_user.eats.where({ created_at: (Time.now.midnight - 1.day)..Time.now.midnight }).sum (:calories) %>
</span>

